@using Bigamer.Shared.Enums
@model Bigamer.Application.DTOs.Home.GetInfo.GetHomePageInfoDto

@{
    ViewData["Title"] = "Home Page";

    Func<int, string> monthByNumber = x => x switch 
    {
        1 => "January",
        2 => "February",
        3 => "March",
        4 => "April",
        5 => "May",
        6 => "June",
        7 => "July",
        8 => "August",
        9 => "September",
        10 => "October",
        11 => "November",
        12 => "December",
        _ => ""
        };
}

<!-- preloader start here -->
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- preloader ending here -->

<!-- scrollToTop start here -->
<a href="#" class="scrollToTop">
    <i class="icofont-rounded-up"></i>
</a>
<!-- scrollToTop ending here -->

<!-- ==========shape image Starts Here========== -->
<div class="body-shape">
    <img src="~/assets/images/shape/body-shape.png" alt="shape">
</div>
<!-- ==========shape image end Here========== -->

<!-- ===========Banner Section start Here========== -->
@if (Model.TodayMatch is not null)
{
    var dateToShow = Model.TodayMatch.StartDate is null
        ? ""
        : $"{Model.TodayMatch.StartDate.Value.Day} {monthByNumber(Model.TodayMatch.StartDate.Value.Month)} - {Model.TodayMatch.StartDate.Value.Year}";

    var timeToShow = Model.TodayMatch.StartDate is null
        ? ""
        : $"{Model.TodayMatch.StartDate.Value.Hour}:{Model.TodayMatch.StartDate.Value.Minute}";

    var dayTime = Model.TodayMatch.StartDate is null
        ? ""
        : Model.TodayMatch.StartDate.Value.Hour > 11 ? "PM" : "AM";

    <section class="banner-section" style="background-image: url(../../assets/images/banner/bg.jpg);">
        <div class="container">
            <div class="">
                <div class="banner-content text-center">
                    <h4 class="fw-normal theme-color mb-4">TODAY BIG MATCH</h4>
                    <h2>@Model.TodayMatch.GameName</h2>
                    <p>Time : @timeToShow @dayTime - @dateToShow</p>
                    @if (Model.TodayMatch.WatchLink is not null && Model.TodayMatch.WatchLink != "")
                    {
                        <a href="https://www.youtube.com/embed/wNyhnEugTgQ" class="default-button reverse-effect" data-rel="lightcase">
                            <span>Watch Now <i class="icofont-play-alt-1"></i></span>
                        </a>
                    }
                </div>
                <div class="banner-thumb d-flex flex-wrap justify-content-center justify-content-between align-items-center align-items-lg-end">
                    <div class="banner-thumb-img ml-xl-50-none">
                        <a asp-action="Index" asp-route-teamId="@Model.TodayMatch.Teams[0].TeamId" asp-controller="Team">
                            <img style="width: 304px; height: 324px;" src="../../@Model.TodayMatch.Teams[0].ImageUrl" alt="First team">
                        </a>
                    </div>
                    <div class="banner-thumb-vs">
                        <img src="~/assets/images/banner/vs.png" alt="banner-thumb">
                    </div>
                    <div class="banner-thumb-img mr-xl-50-none">
                        <a asp-action="Index" asp-route-teamId=" @Model.TodayMatch.Teams[1].TeamId" asp-controller="Team">
                            <img style="width: 304px; height: 324px;" src="@Model.TodayMatch.Teams[1].ImageUrl" alt="Second team">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<!-- ===========Banner Section Ends Here========== -->


<!-- ===========Collection Section Start Here========== -->
<section class="collection-section padding-top padding-bottom">
    <div class="container">
        <div class="section-header">
            <p>today's</p>
            <h2>Our Game Collection</h2>
        </div>
        <div class="section-wrapper">
            <div class="row g-4 justify-content-center">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="game-item item-layer">
                        <div class="game-item-inner bg-1">
                            <div class="game-thumb">
                                <img src="~/assets/images/game/01.png" alt="game-img">
                            </div>
                            <div class="game-overlay">
                                <h4>
                                    <a asp-controller="Team">Witch Sports Team</a>
                                </h4>
                                <ul class="rating-star d-flex flex-wrap justify-content-center align-items-center">
                                    <li class="li">
                                        <i class="icofont-star"></i>
                                    </li>
                                    <li class="li">
                                        <i class="icofont-star"></i>
                                    </li>
                                    <li class="li">
                                        <i class="icofont-star"></i>
                                    </li>
                                    <li class="li">
                                        <i class="icofont-star"></i>
                                    </li>
                                    <li class="li">
                                        <i class="icofont-star"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="game-item item-layer">
                        <div class="game-item-inner bg-2">
                            <div class="game-thumb">
                                <img src="~/assets/images/game/02.png" alt="game-img">
                            </div>
                            <div class="game-overlay">
                                <h4>
                                    <a asp-controller="Team">Wolves Sports Team</a>
                                </h4>
                                <ul class="rating-star d-flex flex-wrap justify-content-center align-items-center">
                                    <li class="li">
                                        <i class="icofont-star"></i>
                                    </li>
                                    <li class="li">
                                        <i class="icofont-star"></i>
                                    </li>
                                    <li class="li">
                                        <i class="icofont-star"></i>
                                    </li>
                                    <li class="li">
                                        <i class="icofont-star"></i>
                                    </li>
                                    <li class="li">
                                        <i class="icofont-star"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="game-item item-layer">
                        <div class="game-item-inner bg-3">
                            <div class="game-thumb">
                                <img src="~/assets/images/game/03.png" alt="game-img">
                            </div>
                            <div class="game-overlay">
                                <h4>
                                    <a asp-controller="Team">Robot Team</a>
                                </h4>
                                <ul class="rating-star d-flex flex-wrap justify-content-center align-items-center">
                                    <li class="li">
                                        <i class="icofont-star"></i>
                                    </li>
                                    <li class="li">
                                        <i class="icofont-star"></i>
                                    </li>
                                    <li class="li">
                                        <i class="icofont-star"></i>
                                    </li>
                                    <li class="li">
                                        <i class="icofont-star"></i>
                                    </li>
                                    <li class="li">
                                        <i class="icofont-star"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="game-item item-layer">
                        <div class="game-item-inner bg-4">
                            <div class="game-thumb">
                                <img src="~/assets/images/game/04.png" alt="game-img">
                            </div>
                            <div class="game-overlay">
                                <h4>
                                    <a asp-controller="Team">Dragon Pro</a>
                                </h4>
                                <ul class="rating-star d-flex flex-wrap justify-content-center align-items-center">
                                    <li class="li">
                                        <i class="icofont-star"></i>
                                    </li>
                                    <li class="li">
                                        <i class="icofont-star"></i>
                                    </li>
                                    <li class="li">
                                        <i class="icofont-star"></i>
                                    </li>
                                    <li class="li">
                                        <i class="icofont-star"></i>
                                    </li>
                                    <li class="li">
                                        <i class="icofont-star"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-wrapper text-center mt-5">
                <a asp-controller="MatchList" class="default-button">
                    <span>
                        Browse All games
                        <i
                            class="icofont-circled-right">
                        </i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- ===========Collection Section Ends Here========== -->


<!-- ===========About Section start Here========== -->
<section class="about-section">
    <div class="container">
        <div class="section-wrapper padding-top">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-image">
                        <img src="~/assets/images/about/01.png" alt="about-image">
                    </div>
                </div>
                <div class="col-lg-6 col-md-10">
                    <div class="about-wrapper">
                        <div class="section-header">
                            <p>who we are</p>
                            <h2>we are professional team esport</h2>
                        </div>
                        <div class="about-content">
                            <p>
                                Distinctively provide acces mutfuncto users whereas transparent
                                proceses somes ncentivize eficient functionalities rather than an
                                extensible archtectur services and cross
                            </p>
                            <ul class="about-list">
                                <li class="about-item d-flex flex-wrap">
                                    <div class="about-item-thumb">
                                        <img src="~/assets/images/about/icon-1.png" alt="Icon">
                                    </div>
                                    <div class="about-item-content">
                                        <h5>103k Community Earning</h5>
                                        <p>
                                            Distinctively provide acces mutfuncto users whereas
                                            communicate leveraged services
                                        </p>
                                    </div>
                                </li>
                                <li class="about-item d-flex flex-wrap">
                                    <div class="about-item-thumb">
                                        <img src="~/assets/images/about/icon-2.png" alt="Icon">
                                    </div>
                                    <div class="about-item-content">
                                        <h5>34m+ Registered Players</h5>
                                        <p>
                                            Distinctively provide acces mutfuncto users whereas
                                            communicate leveraged services
                                        </p>
                                    </div>
                                </li>
                                <li class="about-item d-flex flex-wrap">
                                    <div class="about-item-thumb">
                                        <img src="~/assets/images/about/icon-3.png" alt="Icon">
                                    </div>
                                    <div class="about-item-content">
                                        <h5>240k Streams Complete</h5>
                                        <p>
                                            Distinctively provide acces mutfuncto users whereas
                                            communicate leveraged services
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ===========About Section Ends Here========== -->


<!-- ===========match schedule Section start Here========== -->
<section class="match-section padding-top padding-bottom" style="background-image:url(../../assets/images/match/bg.jpg)">
<div class="container">
<div class="section-header">
    <p>Anywhere, Anytime</p>
    <h2>All matches schedule</h2>
</div>
<div class="section-wrapper">
<div class="row mb-5">
    @foreach (var match in Model.MatchesInfo.Matches)
    {
        var dateToShow = match.StartDate is null
            ? ""
            : $"{match.StartDate.Value.Day} {monthByNumber(match.StartDate.Value.Month)} {match.StartDate.Value.Year}";

        var timeToShow = match.StartDate is null
            ? ""
            : $"{match.StartDate.Value.Hour}:{match.StartDate.Value.Minute}";

        var dayTime = match.StartDate is null
            ? ""
            : match.StartDate.Value.Hour > 11 ? "PM" : "AM";

        <div class="col-12">
            <div class="match-item item-layer">
                <div class="match-inner">
                    <div class="match-header d-flex flex-wrap justify-content-between align-items-center">
                        <p class="match-team-info">
                            2 group
                            <span class="fw-bold">
                                @match.Teams.Count
                                Teams
                            </span>
                        </p>
                        <p class="match-prize">
                            Prize Pool
                            <span class="fw-bold">
                                $@match.Prize
                            </span >
                        </p>
                    </div >
                    <div
                        class=
                        "match-content gradient-bg-yellow">
                        <div class="row gy-4 align-items-center justify-content-center">
                            <div class="col-xl-4 col-md-6 order-md-2">
                                <div class="match-game-team">
                                    <ul class="match-team-list d-flex flex-wrap align-items-center justify-content-center">
                                        <li class="match-team-thumb">
                                            <a
                                                asp-action="Index"
                                                asp-route-teamId="@match.Teams[0].TeamId"
                                                asp-controller="Team">
                                                <img style="height: 86px;" src="@match.Teams[0].ImageUrl"
                                                     alt="team-img">
                                            </a>
                                        </li >
                                        <l class="text-center">
                                            <img
                                                class="w-75 w-md-100"
                                                src="~/assets/images/match/vs.png"
                                                alt="vs">
                                        </l>
                                        <li class="match-team-thumb">
                                            <a
                                                asp-action="Index"
                                                asp-route-teamId="@match.Teams[1].TeamId"
                                                asp-controller="Team">
                                                <img style="height: 86px;" src="@match.Teams[1].ImageUrl"
                                                     alt="team-img">
                                            </a>
                                        </li >
                                    </ul >
                                </div >
                            </div >
                            <div
                                class=
                                "col-xl-4 col-md-6 order-md-1">
                                <div class="match-game-info">
                                    <h4>
                                        <a href="#">
                                            @match.GameName
                                            tournament
                                        </a>
                                    </h4>
                                    <p class="d-flex flex-wrap justify-content-center  justify-content-md-start">
                                        <span class="match-date">
                                            @dateToShow
                                        </span >
                                        <span class="match-time">
                                            Time: @timeToShow @dayTime
                                        </span >
                                    </p >
                                </div >
                            </div >
                            <div
                                class="col-xl-4 col-md-6 order-md-3">
                                <div
                                    class="match-game-social">
                                    <ul
                                        class="match-social-list d-flex flex-wrap align-items-center justify-content-center justify-content-xl-start">
                                        @foreach (var link in match.Links)
                                        {
                                            string linkImage;
                                            switch (link.ServiceName)
                                            {
                                                case LinkType.Undefined:
                                                case LinkType.Hltv:
                                                    linkImage = "https://play-lh.googleusercontent.com/chI-8vX4CIbO-pm14tb5UAjip20CwmytQPdz8sBmqNjPqTp1tptpBOZc-aGyYqDesw";
                                                    break;
                                                case LinkType.Yt:
                                                    linkImage = "../assets/images/match/social-2.png";
                                                    break;
                                                case LinkType.Twitch:
                                                    linkImage = "../assets/images/match/social-3.png";
                                                    break;
                                                default:
                                                    throw new ArgumentOutOfRangeException();
                                            }

                                            <li>
                                                <a href="@link.Link">
                                                    <img style="height: 50px;" src=@linkImage alt="@link.ServiceName">
                                                </a>
                                            </li>
                                        }
                                        <a href="@match.Links[0].Link"
                                           class="default-button reverse-effect">
                                            <span>
                                                Watch Now
                                                <i class="icofont-play-alt-1">
                                                </i>
                                            </span>
                                        </a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="row g-5">
<div class="col-lg-6">
<div class="upcome-matches">
<h3 class="upcome-match-header">Upcoming Matches</h3>
<div class="row g-3">
<div class="col-12">
    <div class="match-item-2 item-layer">
        <div class="match-inner">
            <div
                class="match-header d-flex flex-wrap justify-content-between align-items-center">
                <p class="match-team-info">
                    2 group <span class="fw-bold">32 Players</span>
                </p>
                <p class="match-prize">Prize Pool <span class="fw-bold">$3200</span></p>
            </div>
            <div class="match-content gradient-bg-orange">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-2 col-5 p-0">
                        <div class="match-team-thumb text-center">
                            <a asp-controller="Team" class="text-center">
                                <img
                                    src="~/assets/images/match/teamsm/teamsm-1.png"
                                    alt="team-img">
                            </a>
                        </div>

                    </div>
                    <div class="col-2 d-md-none">
                        <img src="~/assets/images/match/vs.png" alt="vs">
                    </div>
                    <div class="col-md-2 col-5 order-md-3 p-0">
                        <div class="match-team-thumb text-center">
                            <a asp-controller="Team">
                                <img
                                    src="~/assets/images/match/teamsm/teamsm-2.png"
                                    alt="team-img">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8 order-md-2 mt-4 mt-md-0">
                        <div class="match-game-info text-center">
                            <h4>
                                <a href="#">call of duty TOURNAMENT</a>
                            </h4>
                            <p class="d-flex flex-wrap justify-content-center">
                                <span class="match-date">
                                    30
                                    April 2021
                                </span>
                                <span class="match-time">
                                    Time:
                                    08:30PM
                                </span>
                            </p>
                            <ul
                                class="match-social-list d-flex flex-wrap align-items-center justify-content-center">
                                <li>
                                    <a href="#">
                                        <img src="~/assets/images/match/social-1.png" alt="vimeo">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/assets/images/match/social-2.png" alt="youtube">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/assets/images/match/social-3.png" alt="twitch">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="match-item-2 item-layer">
        <div class="match-inner">
            <div
                class="match-header d-flex flex-wrap justify-content-between align-items-center">
                <p class="match-team-info">
                    2 group <span class="fw-bold">32 Players</span>
                </p>
                <p class="match-prize">Prize Pool <span class="fw-bold">$3200</span></p>
            </div>
            <div class="match-content gradient-bg-blue">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-2 col-5 p-0">
                        <div class="match-team-thumb text-center">
                            <a asp-controller="Team" class="text-center">
                                <img
                                    src="~/assets/images/match/teamsm/teamsm-3.png"
                                    alt="team-img">
                            </a>
                        </div>

                    </div>
                    <div class="col-2 d-md-none">
                        <img src="~/assets/images/match/vs.png" alt="vs">
                    </div>
                    <div class="col-md-2 col-5 order-md-3 p-0">
                        <div class="match-team-thumb text-center">
                            <a asp-controller="Team">
                                <img
                                    src="~/assets/images/match/teamsm/teamsm-4.png"
                                    alt="team-img">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8 order-md-2 mt-4 mt-md-0">
                        <div class="match-game-info text-center">
                            <h4>
                                <a href="#">LEAGUE BATTLE tournament</a>
                            </h4>
                            <p class="d-flex flex-wrap justify-content-center">
                                <span class="match-date">
                                    30
                                    April 2021
                                </span>
                                <span class="match-time">
                                    Time:
                                    08:30PM
                                </span>
                            </p>
                            <ul
                                class="match-social-list d-flex flex-wrap align-items-center justify-content-center">
                                <li>
                                    <a href="https://www.hltv.org/matches/2371661/betboom-vs-cloud9-esports-world-cup-2024-europe-closed-qualifier">
                                        <img src="~/assets/images/match/social-1.png" alt="vimeo">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.hltv.org/matches/2371661/betboom-vs-cloud9-esports-world-cup-2024-europe-closed-qualifier">
                                        <img src="~/assets/images/match/social-2.png" alt="youtube">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.hltv.org/matches/2371661/betboom-vs-cloud9-esports-world-cup-2024-europe-closed-qualifier">
                                        <img src="~/assets/images/match/social-3.png" alt="twitch">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="match-item-2 item-layer">
        <div class="match-inner">
            <div
                class="match-header d-flex flex-wrap justify-content-between align-items-center">
                <p class="match-team-info">
                    2 group <span class="fw-bold">32 Players</span>
                </p>
                <p class="match-prize">Prize Pool <span class="fw-bold">$3200</span></p>
            </div>
            <div class="match-content gradient-bg-pink">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-2 col-5 p-0">
                        <div class="match-team-thumb text-center">
                            <a asp-controller="Team" class="text-center">
                                <img
                                    src="~/assets/images/match/teamsm/teamsm-5.png"
                                    alt="team-img">
                            </a>
                        </div>

                    </div>
                    <div class="col-2 d-md-none">
                        <img src="~/assets/images/match/vs.png" alt="vs">
                    </div>
                    <div class="col-md-2 col-5 order-md-3 p-0">
                        <div class="match-team-thumb text-center">
                            <a asp-controller="Team">
                                <img
                                    src="~/assets/images/match/teamsm/teamsm-6.png"
                                    alt="team-img">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8 order-md-2 mt-4 mt-md-0">
                        <div class="match-game-info text-center">
                            <h4>
                                <a href="#">pubg classic tournament</a>
                            </h4>
                            <p class="d-flex flex-wrap justify-content-center">
                                <span class="match-date">
                                    30
                                    April 2021
                                </span>
                                <span class="match-time">
                                    Time:
                                    08:30PM
                                </span>
                            </p>
                            <ul
                                class="match-social-list d-flex flex-wrap align-items-center justify-content-center">
                                <li>
                                    <a href="https://www.hltv.org/matches/2371661/betboom-vs-cloud9-esports-world-cup-2024-europe-closed-qualifier">
                                        <img src="~/assets/images/match/social-1.png" alt="vimeo">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.hltv.org/matches/2371661/betboom-vs-cloud9-esports-world-cup-2024-europe-closed-qualifier">
                                        <img src="~/assets/images/match/social-2.png" alt="youtube">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.hltv.org/matches/2371661/betboom-vs-cloud9-esports-world-cup-2024-europe-closed-qualifier">
                                        <img src="~/assets/images/match/social-3.png" alt="twitch">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="upcome-matches">
<h3 class="upcome-match-header">Previous Matches</h3>
<div class="row g-3">
<div class="col-12">
    <div class="match-item-2 item-layer">
        <div class="match-inner">
            <div
                class="match-header d-flex flex-wrap justify-content-between align-items-center">
                <p class="match-team-info">
                    2 group <span class="fw-bold">32 Players</span>
                </p>
                <p class="match-prize">Prize Pool <span class="fw-bold">$3200</span></p>
            </div>
            <div class="match-content gradient-bg-pink">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-2 col-5 p-0">
                        <div class="match-team-thumb text-center">
                            <a asp-controller="Team" class="text-center">
                                <img
                                    src="~/assets/images/match/teamsm/teamsm-7.png"
                                    alt="team-img">
                            </a>
                        </div>

                    </div>
                    <div class="col-2 d-md-none">
                        <img src="~/assets/images/match/vs.png" alt="vs">
                    </div>
                    <div class="col-md-2 col-5 order-md-3 p-0">
                        <div class="match-team-thumb text-center">
                            <a asp-controller="Team">
                                <img
                                    src="~/assets/images/match/teamsm/teamsm-8.png"
                                    alt="team-img">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8 order-md-2 mt-4 mt-md-0">
                        <div class="match-game-info text-center">
                            <h4>
                                <a href="#">4 - 2</a>
                            </h4>
                            <p class="d-flex flex-wrap justify-content-center">
                                <span class="match-date">
                                    30
                                    April 2021
                                </span>
                                <span class="match-time">
                                    Time:
                                    08:30PM
                                </span>
                            </p>
                            <ul
                                class="match-social-list d-flex flex-wrap align-items-center justify-content-center">
                                <li>
                                    <a href="https://www.hltv.org/matches/2371661/betboom-vs-cloud9-esports-world-cup-2024-europe-closed-qualifier">
                                        <img src="~/assets/images/match/social-1.png" alt="vimeo">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.hltv.org/matches/2371661/betboom-vs-cloud9-esports-world-cup-2024-europe-closed-qualifier">
                                        <img src="~/assets/images/match/social-2.png" alt="youtube">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.hltv.org/matches/2371661/betboom-vs-cloud9-esports-world-cup-2024-europe-closed-qualifier">
                                        <img src="~/assets/images/match/social-3.png" alt="twitch">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="match-item-2 item-layer">
        <div class="match-inner">
            <div
                class="match-header d-flex flex-wrap justify-content-between align-items-center">
                <p class="match-team-info">
                    2 group <span class="fw-bold">32 Players</span>
                </p>
                <p class="match-prize">Prize Pool <span class="fw-bold">$3200</span></p>
            </div>
            <div class="match-content gradient-bg-yellow">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-2 col-5 p-0">
                        <div class="match-team-thumb text-center">
                            <a asp-controller="Team" class="text-center">
                                <img
                                    src="~/assets/images/match/teamsm/teamsm-9.png"
                                    alt="team-img">
                            </a>
                        </div>

                    </div>
                    <div class="col-2 d-md-none">
                        <img src="~/assets/images/match/vs.png" alt="vs">
                    </div>
                    <div class="col-md-2 col-5 order-md-3 p-0">
                        <div class="match-team-thumb text-center">
                            <a asp-controller="Team">
                                <img
                                    src="~/assets/images/match/teamsm/teamsm-10.png"
                                    alt="team-img">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8 order-md-2 mt-4 mt-md-0">
                        <div class="match-game-info text-center">
                            <h4>
                                <a href="#">8 - 4</a>
                            </h4>
                            <p class="d-flex flex-wrap justify-content-center">
                                <span class="match-date">
                                    30
                                    April 2021
                                </span>
                                <span class="match-time">
                                    Time:
                                    08:30PM
                                </span>
                            </p>
                            <ul
                                class="match-social-list d-flex flex-wrap align-items-center justify-content-center">
                                <li>
                                    <a href="#">
                                        <img
                                            src="~/assets/images/match/social-1.png"
                                            alt="vimeo">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img
                                            src="~/assets/images/match/social-2.png"
                                            alt="youtube">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img
                                            src="~/assets/images/match/social-3.png"
                                            alt="twitch">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="match-item-2 item-layer">
        <div class="match-inner">
            <div
                class="match-header d-flex flex-wrap justify-content-between align-items-center">
                <p class="match-team-info">
                    2 group <span class="fw-bold">32 Players</span>
                </p>
                <p class="match-prize">Prize Pool <span class="fw-bold">$3200</span></p>
            </div>
            <div class="match-content gradient-bg-blue">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-2 col-5 p-0">
                        <div class="match-team-thumb text-center">
                            <a asp-controller="Team" class="text-center">
                                <img
                                    src="~/assets/images/match/teamsm/teamsm-11.png"
                                    alt="team-img">
                            </a>
                        </div>

                    </div>
                    <div class="col-2 d-md-none">
                        <img src="~/assets/images/match/vs.png" alt="vs">
                    </div>
                    <div class="col-md-2 col-5 order-md-3 p-0">
                        <div class="match-team-thumb text-center">
                            <a asp-controller="Team">
                                <img
                                    src="~/assets/images/match/teamsm/teamsm-12.png"
                                    alt="team-img">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8 order-md-2 mt-4 mt-md-0">
                        <div class="match-game-info text-center">
                            <h4>
                                <a href="#">3 - 4</a>
                            </h4>
                            <p class="d-flex flex-wrap justify-content-center">
                                <span class="match-date">
                                    30
                                    April 2021
                                </span>
                                <span class="match-time">
                                    Time:
                                    08:30PM
                                </span>
                            </p>
                            <ul
                                class="match-social-list d-flex flex-wrap align-items-center justify-content-center">
                                <li>
                                    <a href="https://www.hltv.org/matches/2371661/betboom-vs-cloud9-esports-world-cup-2024-europe-closed-qualifier">
                                        <img src="~/assets/images/match/social-1.png" alt="vimeo">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.hltv.org/matches/2371661/betboom-vs-cloud9-esports-world-cup-2024-europe-closed-qualifier">
                                        <img src="~/assets/images/match/social-2.png" alt="youtube">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.hltv.org/matches/2371661/betboom-vs-cloud9-esports-world-cup-2024-europe-closed-qualifier">
                                        <img src="~/assets/images/match/social-3.png" alt="twitch">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
<div class="button-wrapper text-center mt-5">
    <a asp-controller="MatchList" class="default-button">
        <span>Browse All Matches <i class="icofont-circled-right"></i></span>
    </a>
</div>
</div>
</div>
</section>
<!-- ===========match schedule Section Ends Here========== -->


<!-- ===========Player  Section start Here========== -->
<section class="player-section padding-top padding-bottom">
    <div class="container-fluid">
        <div class="section-header">
            <p>Teams</p>
            <h2>
                Meet teams
            </h2>
        </div>
        <div class="section-wrapper">
            <div class="player-slider">
                <div class="swiper-wrapper">
                    @foreach (var team in Model.TeamsInfo.Teams)
                    {
                        <div class="swiper-slide">
                            <div class="player-item-2 text-center" style="background-image: url(../../assets/images/team/1.jpg);">
                                <div class="player-inner-2">
                                    <div class="player-thumb-2">
                                        <a asp-action="Index" asp-route-teamId="@team.TeamId" asp-controller="Team">
                                            <img
                                                style="height: 220px;"
                                                src="../../@team.ImageUrl" alt="team-img">
                                        </a>
                                    </div>
                                    <div class="player-content-2">
                                        <a asp-action="Index" asp-route-teamId="@team.TeamId" asp-controller="Team">
                                            <h2>@team.Name</h2>
                                        </a>
                                        <ul class="match-social-list d-flex flex-wrap align-items-center justify-content-center">
                                            @foreach (var link in team.Links)
                                            {
                                                string linkImage;
                                                switch (link.ServiceName)
                                                {
                                                    case LinkType.Undefined:
                                                    case LinkType.Hltv:
                                                        linkImage = "https://play-lh.googleusercontent.com/chI-8vX4CIbO-pm14tb5UAjip20CwmytQPdz8sBmqNjPqTp1tptpBOZc-aGyYqDesw";
                                                        break;
                                                    case LinkType.Yt:
                                                        linkImage = "../assets/images/match/social-2.png";
                                                        break;
                                                    case LinkType.Twitch:
                                                        linkImage = "../assets/images/match/social-3.png";
                                                        break;
                                                    default:
                                                        throw new ArgumentOutOfRangeException();
                                                }

                                                <li>
                                                    <a href="@link.Link">
                                                        <img style="height: 50px;" src=@linkImage alt="@link.ServiceName">
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="swiper-slide">
                        <div class="player-item-2 text-center" style="background-image: url(../../assets/images/team/2.jpg);">
                            <div class="player-inner-2">
                                <div class="player-thumb-2">
                                    <a asp-controller="Team">
                                        <img src="~/assets/images/team/2.png" alt="team-img">
                                    </a>
                                </div>
                                <div class="player-content-2">
                                    <a asp-controller="Team">
                                        <h2>Frogs Team</h2>
                                    </a>
                                    <ul class="match-social-list d-flex flex-wrap align-items-center justify-content-center">
                                        <li>
                                            <a href="https://www.hltv.org/matches/2371661/betboom-vs-cloud9-esports-world-cup-2024-europe-closed-qualifier">
                                                <img src="~/assets/images/match/social-1.png" alt="vimeo">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.hltv.org/matches/2371661/betboom-vs-cloud9-esports-world-cup-2024-europe-closed-qualifier">
                                                <img src="~/assets/images/match/social-2.png" alt="youtube">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.hltv.org/matches/2371661/betboom-vs-cloud9-esports-world-cup-2024-europe-closed-qualifier">
                                                <img src="~/assets/images/match/social-3.png" alt="twitch">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="player-item-2 text-center" style="background-image: url(../../assets/images/team/3.jpg);">
                            <div class="player-inner-2">
                                <div class="player-thumb-2">
                                    <a asp-controller="Team">
                                        <img src="~/assets/images/team/3.png" alt="team-img">
                                    </a>
                                </div>
                                <div class="player-content-2">
                                    <a asp-controller="Team">
                                        <h2>Tigers Team</h2>
                                    </a>
                                    <ul class="match-social-list d-flex flex-wrap align-items-center justify-content-center">
                                        <li>
                                            <a href="#">
                                                <img src="~/assets/images/match/social-1.png" alt="vimeo">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="~/assets/images/match/social-2.png" alt="youtube">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="~/assets/images/match/social-3.png" alt="twitch">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="player-item-2 text-center" style="background-image: url(../../assets/images/team/4.jpg);">
                            <div class="player-inner-2">
                                <div class="player-thumb-2">
                                    <a asp-controller="Team">
                                        <img src="~/assets/images/team/4.png" alt="team-img">
                                    </a>
                                </div>
                                <div class="player-content-2">
                                    <a asp-controller="Team">
                                        <h2>Shark Team</h2>
                                    </a>
                                    <ul class="match-social-list d-flex flex-wrap align-items-center justify-content-center">
                                        <li>
                                            <a href="https://www.hltv.org/matches/2371661/betboom-vs-cloud9-esports-world-cup-2024-europe-closed-qualifier">
                                                <img src="~/assets/images/match/social-1.png" alt="vimeo">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.hltv.org/matches/2371661/betboom-vs-cloud9-esports-world-cup-2024-europe-closed-qualifier">
                                                <img src="~/assets/images/match/social-2.png" alt="youtube">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.hltv.org/matches/2371661/betboom-vs-cloud9-esports-world-cup-2024-europe-closed-qualifier">
                                                <img src="~/assets/images/match/social-3.png" alt="twitch">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="player-item-2 text-center" style="background-image: url(../../assets/images/team/5.jpg);">
                            <div class="player-inner-2">
                                <div class="player-thumb-2">
                                    <a asp-controller="Team">
                                        <img src="~/assets/images/team/5.png" alt="team-img">
                                    </a>
                                </div>
                                <div class="player-content-2">
                                    <a asp-controller="Team">
                                        <h2>Gaming Team</h2>
                                    </a>
                                    <ul class="match-social-list d-flex flex-wrap align-items-center justify-content-center">
                                        <li>
                                            <a href="https://www.hltv.org/matches/2371661/betboom-vs-cloud9-esports-world-cup-2024-europe-closed-qualifier">
                                                <img src="~/assets/images/match/social-1.png" alt="vimeo">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.hltv.org/matches/2371661/betboom-vs-cloud9-esports-world-cup-2024-europe-closed-qualifier">
                                                <img src="~/assets/images/match/social-2.png" alt="youtube">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.hltv.org/matches/2371661/betboom-vs-cloud9-esports-world-cup-2024-europe-closed-qualifier">
                                                <img src="~/assets/images/match/social-3.png" alt="twitch">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ===========Player  Section Ends Here========== -->


<!-- ===========CTA Section start Here========== -->
<section class="cta-section padding-bottom">
    <div class="container">
        <div class="cta-wrapper item-layer">
            <div class="cta-item px-4 px-sm-5 pt-4 pt-sm-5 pt-lg-0" style="background-image: url(../../assets/images/cta/bg.jpg);">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="cta-content">
                            <p class="theme-color text-uppercase ls-2">Let's Play together</p>
                            <h2 class="mb-3">
                                JOIN <span class="theme-color text-uppercase">bigamer</span> ESPORTS TO BECOME
                                NEXT PRO GAMER TODAY!
                            </h2>
                            <p class="mb-4">
                                Distinctively provide acces mutfuncto users whereas transparent
                                proceses somes ncentivize eficient functionalities rather than an
                                extensible archtectur services and cross
                            </p>
                            <a asp-action="Register" asp-controller="Auth" class="default-button">
                                <span>Join Community <i class="icofont-circled-right"></i></span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="cta-thumb text-end">
                            <img src="~/assets/images/cta/01.png" alt="gamer-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>