@using System.Text.RegularExpressions
@model Bigamer.Application.DTOs.Admin.AdminDashboardModel

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Home Page";
    var counter = 1;
}

<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>

<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Dashboard</h4>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">Total Users</h3>
                <ul class="list-inline two-part d-flex align-items-center mb-0">
                    <li>
                        <div id="sparklinedash">
                            <canvas width="67" height="30"
                                    style="display: inline-block; width: 67px; height: 30px; vertical-align: top;">
                            </canvas>
                        </div>
                    </li>
                    <li class="ms-auto">
                        <span class="counter text-success">@Model.Statistics.TotalUsers</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">Total Teams</h3>
                <ul class="list-inline two-part d-flex align-items-center mb-0">
                    <li>
                        <div id="sparklinedash2">
                            <canvas width="67" height="30"
                                    style="display: inline-block; width: 67px; height: 30px; vertical-align: top;">
                            </canvas>
                        </div>
                    </li>
                    <li class="ms-auto">
                        <span class="counter text-purple">@Model.Statistics.TotalTeams</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">Total Matches</h3>
                <ul class="list-inline two-part d-flex align-items-center mb-0">
                    <li>
                        <div id="sparklinedash3">
                            <canvas width="67" height="30"
                                    style="display: inline-block; width: 67px; height: 30px; vertical-align: top;">
                            </canvas>
                        </div>
                    </li>
                    <li class="ms-auto">
                        <span class="counter text-info">@Model.Statistics.TotalMatches</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="white-box">
                <div class="d-md-flex mb-3">
                    <h3 class="box-title mb-0">Recent matches</h3>
                </div>
                <div class="table-responsive">
                    <table class="table no-wrap">
                        <thead>
                        <tr>
                            <th class="border-top-0">#</th>
                            <th class="border-top-0">Match Title</th>
                            <th class="border-top-0">Status</th>
                            <th class="border-top-0">Start Date</th>
                            <th class="border-top-0">Finish Date</th>
                            <th class="border-top-0">Winner</th>
                            <th class="border-top-0">Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var match in Model.RecentMatches.Matches)
                        {
                            var matchTitle = match.Teams.Count > 1
                                ? match.Teams.Count > 2
                                    ? $"({match.Teams[0].TeamName}, {match.Teams[1].TeamName} and {match.Teams.Count - 2} more)"
                                    : $"({match.Teams[0].TeamName} vs {match.Teams[1].TeamName})"
                                : "";

                            var matchStatus = match.StartDate < DateTime.UtcNow
                                ? match.FinishDate is null
                                    ? "ONGOING"
                                    : "FINISHED"
                                : "UPCOMING";

                            var matchWinner = match.Teams.Count > 0
                                ? match.Teams.MinBy(i => i.TakenPlace)
                                : null;

                            <tr>
                                <td>@(counter++)</td>
                                <td class="txt-oflo">
                                    @match.GameName |
                                    @{
                                        if (match.Teams.Count < 2)
                                        {
                                            return;
                                        }

                                        if (match.Teams.Count == 2)
                                        {
                                            <span>
                                                <a
                                                    target="_blank"
                                                    asp-controller="Team"
                                                    asp-action="Index"
                                                    asp-route-teamId=@match.Teams[0].TeamId>
                                                    @match.Teams[0].TeamName
                                                </a>
                                                vs
                                                <a
                                                    target="_blank"
                                                    asp-controller="Team"
                                                    asp-action="Index"
                                                    asp-route-teamId=@match.Teams[1].TeamId>
                                                    @match.Teams[1].TeamName
                                                </a>
                                            </span>
                                        }

                                        if (match.Teams.Count > 2)
                                        {
                                            <span>
                                                <a
                                                    style="margin-left: 0;"
                                                    asp-controller="Team"
                                                    asp-action="Index"
                                                    asp-route-teamId=@match.Teams[0].TeamId>
                                                    @match.Teams[0].TeamName
                                                </a>,
                                                <a
                                                    asp-controller="Team"
                                                    asp-action="Index"
                                                    asp-route-teamId=@match.Teams[1].TeamId>
                                                    @match.Teams[1].TeamName
                                                </a>
                                                and @(match.Teams.Count - 2) more
                                            </span>
                                        }
                                    }
                                </td>
                                <td>@matchStatus</td>
                                <td>@match.StartDate</td>
                                <td>@(match.FinishDate is null ? "null" : match.FinishDate)</td>
                                <td>
                                    @{
                                        if (!matchStatus.Equals("FINISHED"))
                                        {
                                            <span>Not known yet..</span>
                                        }
                                        else if (matchWinner is null)
                                        {
                                            <span>null</span>
                                        }
                                        else
                                        {
                                            <a
                                                target="_blank"
                                                asp-controller="Team"
                                                asp-action="Index"
                                                asp-route-teamId=@matchWinner.TeamId>
                                                @matchWinner.TeamName
                                            </a>
                                        }
                                    }
                                </td>
                                <td>
                                    <span class="text-success">$@match.Prize</span>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>