@using Org.BouncyCastle.Crypto.Engines
@model Bigamer.Application.Requests.User.Queries.UserGetInfoRequest.UserGetInfoResponse

@{
    Layout = "_AdminLayout";
}

<div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Profile page</h4>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-xlg-3 col-md-12">
            <div class="white-box">
                <div class="user-bg">
                    <img width="100%" alt="user" src="~/adminAssets/plugins/images/large/img1.jpg">
                    <div class="overlay-box">
                        <div class="user-content">
                            <a href="javascript:void(0)">
                                <img src="~/adminAssets/plugins/images/users/genu.jpg"
                                     class="thumb-lg img-circle" alt="img">
                            </a>
                            <h4 class="text-white mt-2">@Model.UserName</h4>
                            <h5 class="text-white mt-2">@Model.Email</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-xlg-9 col-md-12">
            <div class="card">
                <div class="card-body">
                    <form class="form-horizontal form-material">
                        <div class="form-group mb-4">
                            <label class="col-md-12 p-0">Email</label>
                            <div class="col-md-12 border-bottom p-0">
                                <input type="email" placeholder="@Model.Email"
                                       class="form-control p-0 border-0" name="example-email"
                                       id="email" disabled>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label for="first-name" class="col-md-12 p-0">First Name</label>
                            <div class="col-md-12 border-bottom p-0">
                                <input value="@Model.FirstName" id="first-name" type="text" placeholder="@Model.FirstName"
                                       class="form-control p-0 border-0">
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label for="last-name" class="col-md-12 p-0">Last Name</label>
                            <div class="col-md-12 border-bottom p-0">
                                <input value="@Model.LastName" id="last-name" type="text" placeholder="@Model.LastName"
                                       class="form-control p-0 border-0">
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label class="col-md-12 p-0">Old Password</label>
                            <div class="col-md-12 border-bottom p-0">
                                <input autocomplete="off" id="old-password" type="password" class="form-control p-0 border-0">
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label class="col-md-12 p-0">New Password</label>
                            <div class="col-md-12 border-bottom p-0">
                                <input id="new-password" type="password" class="form-control p-0 border-0">
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <div class="col-sm-12">
                                <button type="button" id="update-submit" class="btn btn-success">Update Profile</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
document.getElementById('update-submit')
    .addEventListener('click', () => {
        let firstNameInput = document.getElementById('first-name')
        let lastNameInput = document.getElementById('last-name')
        let emailInput = document.getElementById('email')
        let oldPasswordNameInput = document.getElementById('old-password')
        let newPasswordNameInput = document.getElementById('new-password')
       
        if (firstNameInput.value === firstNameInput.placeholder
        && lastNameInput.value === lastNameInput.placeholder) {
            if (oldPasswordNameInput.value === '')
                if (newPasswordNameInput.value === '') {
                    alert("All values equal to old!")  
                    return  
                }
            
            if (oldPasswordNameInput.value !== '')
                if (newPasswordNameInput.value === '') {
                    alert('Write new password!')
                    return    
                }
            
            if (newPasswordNameInput.value !== '')
                if (oldPasswordNameInput.value === '') {
                    alert('Write new password!')    
                    return
                }
        }
        
        if (firstNameInput.value === ''
        && lastNameInput.value === '') {
            if (oldPasswordNameInput.value === '')
                if (newPasswordNameInput.value === '') {
                    alert("Fill the fields!")    
                    return
                }
            
                if (oldPasswordNameInput.value !== '')
                    if (newPasswordNameInput.value === '') {
                        alert('Write new password!')   
                        return 
                    }
                
                if (newPasswordNameInput.value !== '')
                    if (oldPasswordNameInput.value === '') {
                        alert('Write new password!')    
                        return
                    }    
        }
       
        fetch('http://localhost:5002/User/Update', {
            method: 'PATCH',
            headers: {
                  "Content-Type": "application/json"
                },
            body: JSON.stringify({
                firstName: firstNameInput.value,
                lastName: lastNameInput.value,
                oldPassword: oldPasswordNameInput.value,
                newPassword: newPasswordNameInput.value  
            })
        })
        .then(response => {
            if (response.status !== 200) {
                response.json()
                    .then(json => alert(json.message))
            }
            else {
                alert('Successfully updated!')
                document.location.reload()
            }
        })
        
    })
</script>